<h1>Blogger Dashboard</h1>

<p>
  <%= link_to "See All Articles", articles_path %>
</p>
<div class='dashboard_block'>
  <h2>Most Recent Articles</h2>
  <ul>
    <% @dashboard.articles_for_dashboard.each do |article| %>
      <li class="article"><%= link_to article.title, article %> published <%= article.created_at %></li>
    <% end %>
  </ul>
</div>

<div class='dashboard_block'>
  <h2>Most Recent Comments</h2>
  <ul>
    <% @dashboard.comments_for_dashboard.each do |comment| %>
      <li class="comment">
      	<%= comment.author_name %>
      	said
      	"<%= comment.body %>"
      	in response to
      	<%= link_to comment.article.title, comment.article %>
      	at
      	<%= comment.created_at %>
      </li>
    <% end %>
  </ul>
</div>

<div class="dashboard_block" id='statistics'>
  <h2>Site-Wide Statistics</h2>
  <ul>
  	<li id='total_articles'>Total articles: <%= @dashboard.article_count %></li>
  	<li id='total_comments'>Total comments: <%= @dashboard.comment_count %></li>
  	<li id='total_article_words'>Words in all articles: <%= @dashboard.article_total_word_count %></li>
  	<li id='total_comment_words'>Words in all comments: <%= @dashboard.comment_total_word_count %></li>
  	<li id='total_words'>Total Words: <%= @dashboard.total_words %></li>
  	<li id='most_popular'>Most Popular Article: <%= @dashboard.article_most_popular.decorate.link_by_title if @dashboard.article_most_popular.present? %></li>
  </ul>
</div>
